div {
    background-color: antiquewhite;
}

.left,
.right {
    background-color: aqua;
}

.none {
    background-color: coral;
}

/* ======================================================== */

.size {
    width: 100px;
    height: 50px;
}

/* ======================================================== */

img {
    width: 150px;
    height: 100px;
}

p {
    text-align: justify;
    word-break: break-all;
}

/* ======================================================== */
.left {
    float: left;
}

.right {
    float: right;
}

/* 
   float 요소를 이용한 마진 적용은 바로 비 float 요소와의 거리로
    측정이 되지만, 비 float 요소에 대한 마진 적용은 float 요소와의
    거리가 아닌 부모 컨테이너와의 거리로 측정됨에 주의.
*/
img.left {
    margin-right: 20px;
}

img.right {
    margin-left: 20px;
}

/* ======================================================== */


/* 
    float 요소를 둘러싸는 비 float 요소가 블럭요소이고 비
    float 요소의 너비가 float 요소를 둘러싸면서 비 float 요소
    자신의 컨텐트를 표현할 너비보다 현저히 작으면 비 float
    요소는 float 요소를 좌우 측면에서 둘러싸지 못하고 하단으로
    떨어져 둘러싸는 형태로 표시될 수 있음에 주의.

※ 비 float 요소가 float 요소를 둘러싸는 너비의 정의는 float
   요소의 너비를 포함하면서 비 float 요소 자신의 컨텐트를
   표현할 너비를 합한 너비를 의미.
*/
.none {
    /* width:300px; */

    /* width:100px; */
}