* {
    margin: 0;
    padding: 0;
}

/* ================================================== */
/* common set */

header,
main,
footer {
    width: calc(1024px * 0.8);
    margin: auto;
    text-align: center;
}

header,
footer {
    height: 20vh;
    line-height: 20vh;
    background-color: antiquewhite;
}

main {
    height: 60vh;
}

/* ================================================== */
/* main */

#section_article {
    width: 70%;
    height: 100%;
    float: left;
}

#section_article section {
    height: calc(100% * .6);
    background-color: silver;
    line-height: calc(60vh * .6);
}

#section_article article {
    height: calc(100% * .4);
    background-color: cadetblue;
    line-height: calc(60vh * .4);
}

main aside {
    width: 30%;
    height: 100%;
    line-height: 60vh;
    background-color: burlywood;
    float: right;
}